<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <title> Rent a bike </title>
  <style>
    body{
      color: black;
      background-color: #9c9f84;
      font-family: verdana;
      width: 1000px;
      font-size:15px;
      margin:auto;
      position:relative;
    }
    .image1{
      margin-left:200px;   
    }
    .map1{
      margin-left:200px;   
    }
    
    #header{
      background-color: #5c755e;
      margin: 10px;
      height:90px;
      border-radius: 5px;
    }
    #navbar ul{
      padding: 5px;
      list-style-type: none;
      text-align:center;
      background-color:black;
      margin: 10px;
      height:20px;
      border-radius: 5px;
    }
    #navbar ul li{
      display: inline;
    }
    #navbar ul li a{
      text-decoration: none;
      padding: .2em 1em;
      color: white;
      background-color: black;
    }
    #navbar ul li a:hover{
      color: black;
      background-color: white;
    }
    .main{
      background-color: #e5e4d7;
      margin: 10px;
      border-radius: 5px;
      padding: 20px;
    }
    h1{
      font-size: 18pt;
    }
    h3{
      color: #e5e4d7;
      margin: 0px;
      font-size: 24pt;
      text-align: center;
      position: relative;
      top: 25%;
    }

    html{
    height:100%;
}
body{
    height: 100%;
    margin: 0px;
    font-family: Helvetica,Arial;
}
#error-msg{
    color: red;
}
#start-btn{
    border-radius: 0;
    border: none;
    color: white;
    margin: 20px 0;
    background-color: blue;
    height: 30px;
    width: 70px;
}
    
  </style>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Vehicle Live Movement on Maps</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?key=AIzaSyDa01DUulGels7y3CvM9NKvkiNjzN7l24o&sensor=false&libraries=geometry"></script>
    <script > var map;
var directionsService;
var marker = [];
var polyLine = [];
var poly2 = [];
var startLocation = [];
var endLocation = [];
var timerHandle = [];
var infoWindow = null;
var lat;
var lng;

// users current location using HTML5 geolocation.

if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
}

function showPosition(position) {
    lat = position.coords.latitude; 
    lng = position.coords.longitude;
}

var startLoc = [];
var endLoc = [];

var lastVertex = 1;
var step = 50; // 5; // metres
var eol = [];

window.initialize = initialize;
window.setRoutes = setRoutes;

// called on body load
function initialize() {

    // initialize infoWindow
    infoWindow = new google.maps.InfoWindow({
        size: new google.maps.Size(150, 50)
    });
    var options = {
        // max zoom
        zoom: 18
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), options);
    //
    // initial location which loads up on map
    address = 'Sofia,Mladost'

    // Geocoder is used to encode or actually geocode textual addresses to lat long values
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({'address': address}, function (results, status) {
        map.fitBounds(results[0].geometry.viewport);
    });
}

// returns the marker
function createMarker(latlng, label, html) {
    var contentString = '<b>' + label + '</b><br>' + html;
    // using Marker api, marker is created
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: label,
        icon:"https://cdn0.iconfinder.com/data/icons/app-tab-bar-icons-for-iphone/60/Bike_bicycle_transportation_vector_travel_transport_symbol_simple.png",
        zIndex: 10
    });
    marker.myname = label;
    // adding click listener to open up info window when marker is clicked
    google.maps.event.addListener(marker, 'click', function () {
        infoWindow.setContent(contentString);
        infoWindow.open(map, marker);
    });
    return marker;
}
function toggleError(msg){
    document.getElementById('error-msg').innerText = msg;
}
// Using Directions Service find the route between the starting and ending points
function setRoutes() {
    map && initialize();
    // empty out the error msg
    toggleError("");
    // set the values and check if any is empty, and if yes, show error and return
    var startVal = document.getElementById("start").value;
    var endVal = document.getElementById("end").value;
    if (!startVal || !endVal){
        toggleError( "Please enter both start and end locations.");
        return;
    }
    // just to avoid weird case of same start and end location
    if (startVal === endVal){
        toggleError( "Please enter different locations in both inputs");
        return;
    }

    startLoc[0] = startVal;
    endLoc[0] = endVal;
    // empty out previous values
    startLocation = [];
    endLocation = [];
    polyLine = [];
    poly2 = [];
    timerHandle = [];

    var directionsDisplay = new Array();
    for (var i = 0; i < startLoc.length; i++) {
        var rendererOptions = {
            map: map,
            suppressMarkers: true,
            preserveViewport: true
        };
        directionsService = new google.maps.DirectionsService();
        var travelMode = google.maps.DirectionsTravelMode.DRIVING;
        var request = {
            origin: startLoc[i],
            destination: endLoc[i],
            travelMode: travelMode
        };
        directionsService.route(request, makeRouteCallback(i, directionsDisplay[i]), rendererOptions);
    }
}

// called after getting route from directions service, does all the heavylifting
function makeRouteCallback(routeNum, disp, rendererOptions) {
    // check if polyline and map exists, if yes, no need to do anything else, just start the animation
    if (polyLine[routeNum] && (polyLine[routeNum].getMap() != null)) {
        startAnimation(routeNum);
        return;
    }
    return function (response, status) {
        // if directions service successfully returns and no polylines exist already, then do the following
        if (status == google.maps.DirectionsStatus.ZERO_RESULTS){
            toggleError("No routes available for selected locations");
            return;
        }
        if (status == google.maps.DirectionsStatus.OK) {
            startLocation[routeNum] = new Object();
            endLocation[routeNum] = new Object();
            // set up polyline for current route
            polyLine[routeNum] = new google.maps.Polyline({
                path: [],
                strokeColor: '#FFFF00',
                strokeWeight: 3
            });
            poly2[routeNum] = new google.maps.Polyline({
                path: [],
                strokeColor: '#FFFF00',
                strokeWeight: 3
            });
            // For each route, display summary information.
            var legs = response.routes[0].legs;
            // directionsrenderer renders the directions obtained previously by the directions service
            disp = new google.maps.DirectionsRenderer(rendererOptions);
            disp.setMap(map);
            disp.setDirections(response);

            // create Markers
            for (i = 0; i < legs.length; i++) {
                // for first marker only
                if (i == 0) {
                    startLocation[routeNum].latlng = legs[i].start_location;
                    startLocation[routeNum].address = legs[i].start_address;
                    marker[routeNum] = createMarker(legs[i].start_location, "start", legs[i].start_address, "green");
                }
                endLocation[routeNum].latlng = legs[i].end_location;
                endLocation[routeNum].address = legs[i].end_address;
                var steps = legs[i].steps;
                for (j = 0; j < steps.length; j++) {
                    var nextSegment = steps[j].path;
                    for (k = 0; k < nextSegment.length; k++) {
                        polyLine[routeNum].getPath().push(nextSegment[k]);
                    }
                }
            }
        }
        if (polyLine[routeNum]){
            // render the line to map
            polyLine[routeNum].setMap(map);
            // and start animation
            startAnimation(routeNum);
        }
    }
}

// Spawn a new polyLine every 20 vertices
function updatePoly(i, d) {
    if (poly2[i].getPath().getLength() > 20) {
        poly2[i] = new google.maps.Polyline([polyLine[i].getPath().getAt(lastVertex - 1)]);
    }

    if (polyLine[i].GetIndexAtDistance(d) < lastVertex + 2) {
        if (poly2[i].getPath().getLength() > 1) {
            poly2[i].getPath().removeAt(poly2[i].getPath().getLength() - 1)
        }
        poly2[i].getPath().insertAt(poly2[i].getPath().getLength(), polyLine[i].GetPointAtDistance(d));
    } else {
        poly2[i].getPath().insertAt(poly2[i].getPath().getLength(), endLocation[i].latlng);
    }
}

// updates marker position to make the animation and update the polyline
function animate(index, d, tick) {
    if (d > eol[index]) {
        marker[index].setPosition(endLocation[index].latlng);
        return;
    }
    var p = polyLine[index].GetPointAtDistance(d);
    marker[index].setPosition(p);
    updatePoly(index, d);
    timerHandle[index] = setTimeout("animate(" + index + "," + (d + step) + ")", tick || 2000);
}

// start marker movement by updating marker position every 100 milliseconds i.e. tick value
function startAnimation(index) {
    if (timerHandle[index]) 
        clearTimeout(timerHandle[index]);
    eol[index] = polyLine[index].Distance();
    map.setCenter(polyLine[index].getPath().getAt(0));

    poly2[index] = new google.maps.Polyline({
        path: [polyLine[index].getPath().getAt(0)],
        strokeColor: "#FFFF00",
        strokeWeight: 3
    });
    timerHandle[index] = setTimeout("animate(" + index + ",50)", 2000);  // Allow time for the initial map display
}</script>
  </head>
  <body onload="initialize()">
<!--<button class="btn" type="submit"><a href="Profile/profile/<str:username>">Back</a></button>-->
  <div id="header"> 
    <h3>Rent a bike</h3>
  </div>
  <div id="navbar"> 
    <ul>
      <li><a href="http://127.0.0.1:8080/data/">Data</a></li>
      <li><a href="http://127.0.0.1:8080/marshrutes/">My marshrutes </a></li>
      <li><a href="http://127.0.0.1:8080/start_page/">Logout</a></li>
    </ul>
  </div>
    <div id="tools">
      <h4>Please enter locations and hit start to get started</h4>
      <input id="start" value="Sofia,Mldost" />
      <input id="end" value="Sofia,Lulin" />
      <div id="error-msg"></div>
      <button id="start-btn" onclick="setRoutes();">Start</button>
      
    </div>
    <div id="map_canvas" style="width:50%;height:50%;"></div>
  </body>
</html>
