{% block content %}

<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
    color: CornflowerBlue;
    margin-top: 4em;
    margin-left: 6em;
    margin-right: 6em;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #A9A9A9;
}

/* Set a style for the submit button */
.btn {
  background-color: CornflowerBlue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  text-decoration: none;
}

.btn:hover {
  opacity: 1;
  text-decoration: none;
}
.btn:visited {
  text-decoration: none;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button class="btn" type="submit"><a href="http://127.0.0.1:8080/start_page/">Back</a></button>
<form method="post">
{% csrf_token %}
    {% for field in form %}

    <h4 class="input-container">
      <i class="fa fa-bicycle"> </i>
        {{ field.label_tag }} <br>
        {{  field }}
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
    </h4>
    {% endfor %}
<button  class="btn" type="submit" value="Log in">Log in</button>

</form>
{% endblock %}
